<div>
    <% @lesson.each do |l| %>
     <h3><%= l.content%></h3><br><br>
     <a href="/categories/<%= l.category_id %>/lessons/<%= l.id %>/questions"><button class="btn btn-primary take-quiz">Take quiz</button></a>
    <% end %>

</div>
