<div class="row">
  <div class="col-sm-12 col-md-12">
    <% @question.each do |q| %>
      <h3><%= q.question %></h3>
     
        <% q.answers.each do |a| %>
          <p class="<%=a.id%>" id="answers">
            <%= check_box_tag(a.text) %>
            <%= label_tag(a.text) %>
          </p>
        <% end %>
    <% end %>
      <button class="btn btn-primary submit-quiz">Submit</button>
  </div>
</div>