<div class="navbar navbar-inverse navbar-static-top" >
  <div class="container">
    <a href="#" class="navbar-brand">PMP Exam Prep</a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Knowledge Areas <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Integration Management</a></li>
              <li><a href="#">Scope Management</a></li>
              <li><a href="#">Time Management</a></li>
              <li><a href="#">Cost Management</a></li>
              <li><a href="#">Quality Management</a></li>
              <li><a href="#">Human Resource Management</a></li>
              <li><a href="#">Communication Management</a></li>
              <li><a href="#">Risk Management</a></li>
              <li><a href="#">Procurement Management</a></li>
              <li><a href="#">Stakeholder Management</a></li>
            </ul>
          </li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>